html{
    box-sizing: border-box;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

.header__wrapper{
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.running-shoes{
    background: url('../img/pic1.jpg') 50%/cover no-repeat;
    height: 740px;
}

.genders__link{
    color: #212A2F;
    text-decoration: none;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.7px;
}

.menu__item{
    position: relative;
}

.menu__item a{
    color: #212A2F;
    text-decoration: none;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.7px;
}

.counter{
    position: absolute;
    bottom: 14px;
    left: 17px;
    font-size: 12px;
    line-height: 14.06px;
}

.header__menu.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 34px;
    
}

.header__menu.menu li{
    margin: 0px 18px 0px 0px;
}

.header__menu.menu li:first-child{
    margin-right: 30px;
}

.header__menu.menu li:last-child{
    margin-right: 0px;
}


.header__genders.genders{
    display: flex;
    position: relative;
    left:27px;
    align-items: center;
}

.genders__item{
    margin: 0px 36px 0px 0px;
}

.header__genders.genders li:last-child{
    margin: 0px;
}



.header__logo.logo{
    position: relative;
    left: 110px;
}

.running-shoes__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.running-shoes__heading, .running-shoes__description{
    position: relative;
    top: 25px;
}

.running-shoes__heading{
    font-size: 48px;
    font-style: normal;
    margin: 0px 0px 10px 0px;
    color: #ffffff;
    text-align: center;
    line-height: 62.9px;
    letter-spacing: 0.5px;
}

.running-shoes__description{
    
    font-size: 16px;
    color: white;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.running-shoes__list{
    display: flex;
    position: relative;
    top: 232px;
}

.running-shoes__item {
    margin: 0px 12px 0px 12px;
}

.running-shoes__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    width: 180px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
}

.running-shoes__button:hover{
    background-color: #212c33;
    
}

.running-shoes__button:hover .running-shoes__option{
    color: white;
}


.running-shoes__link{
    text-decoration: none;
}

.running-shoes__option{
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #212A2F;
}

.our-favourites__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 898px;
    overflow: hidden;

}

.our-favourites__heading {
    display: flex;
    justify-content: center;
    position: relative;
    top: 119px;
    font-style: normal;
    font-size: 32px;
    line-height: 41.92px;
    letter-spacing: 0.5px;
    

}
.our-favorites__buttons {
    display: flex;
    justify-content: center;
    position: relative;
    top: 151px;
}

.our-favorites__buttons li:first-child {
    position: relative;
    right: 119px;
}

.our-favorites__buttons li:last-child {
    position: relative;
    left: 119px;
}

.our-favourites__button{
    background-color: #fff;
    border-width: 0;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 24px;
}

.our-favourites__list {
    display: flex;
    justify-content: center;
    
    position: relative;
    top: 185px;
}

.our-favourites__item.item:first-child{
    margin: 0px 24px 0px 0px;
}

.our-favourites__item.item:last-child{
    margin: 0px 0px 0px 24px;
}


.our-favourites__outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 155px;
    height: 2px;
    width: 1236px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
}

.item__heading {
    font-size: 22px;
    line-height: 29.04px;
    letter-spacing: 0.5px;
    margin: 17px 0px 10px 30px;
}
.our-favourites__item.item{
    position: relative;
}

.item__buttons-wrapper {
    position: absolute;
    bottom: 50%;
    left: 60px;
}

.item__link{
    text-decoration: none;
}
.item__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    width: 276px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    margin: 12px 0px 0px 0px;
}

.item__option{
    color: #212A2F;
}

.item__button:hover{
    background-color: #212A2F;
    
}

.item__button:hover .item__option{
    color: white;
}

.item__description-wrapper {
    display: flex;
    margin: 17px 0px 0px 30px;
}

.item__outline{
    width: 336px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0px 0px 0px 30px;
}

.item__description{
    margin-left: 12px;
}

.item__description-image{
   position: relative;
   bottom: 6px;
}

.shoes-overview{
    background: url('../img/shoes-overview.jpg') 50%/ cover no-repeat;
    height: 542px;
}

.merino-wool__wrapper.nature {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 329px;
    background-color: white;
}

.nature__buttons-list {
    display: flex;
    
}

.nature__heading {
    font-size: 32px;
    line-height: 41.92px;
    letter-spacing: 0.5px;
    position: relative;
    top: 47px;
}

.nature__description {

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    position: relative;
    top: 65px;
}

.nature__buttons-list {
    position: relative;
    top: 105px;
}

.nature__item {
    margin: 0px 12px 0px 12px;
}

.nature__link {
    text-decoration: none;
}

.nature__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    width: 180px;
    background-color: #212A2F;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.nature__option {
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 2px;
}

.nature__button:hover{
    background-color: white;
    border: 2px solid black;
}

.nature__button:hover .nature__option{
    color: #212c33;
}

.categories{
    height: 646px;
    background-color: white;
}

.categories__wrapper {
    height: 646px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    
}

.categories__heading{
    font-size: 32px;
    line-height: 41.92px;
    letter-spacing: 0.5px;
    position: relative;
    right: 490px;
    
}

.categories__list.item {
    display: flex;
    justify-content: center;
    position: relative;
    top: 24px;
    left: 205px;
}

.categories__item {
    margin: 0px 12px 0px 12px;
}

.item__category-description {
    margin-left: 18px;
    margin-top: 17px;
    font-size: 22px;
    line-height: 29.04px;
    letter-spacing: 0.5px;
}

.made-from-nature-picture{
    height: 542px;
    background: url('../img/nature.jpg') 50%/ cover no-repeat;
}

.made-from-nature__wrapper.nature{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 353px;
    background-color: white;
}

.nature-description{
    text-align: center;
    max-width: 655px;
}

.nature-button{
    width: 384px;
}


.new-arrivals__wrapper.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: white;
    height: 676px;
    position: relative;
}

.categories__arrivals-heading {
    font-size: 32px;
    line-height: 41.92px;
    letter-spacing: 0.5px;
    position: relative;
    right: 528px;
}

.item-description{
    margin-left: 18px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;

}

.tread-lighter-picture{
    background: url('../img/tread_lighter.png') 50%/ cover no-repeat;
    height: 542px;
}

.tread-lighter__wrapper.nature {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 401px;
    background-color: white;
}

.tread-lighter-description{
    max-width: 664px;
}

.stories__wrapper.categories{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 733px;
}

.stories__wrapper.categories ul{
    left: 0px;
}

.stories-heading {
    font-size: 32px;
    line-height: 41.92px;
    letter-spacing: 0.5px;
    position: relative;
    right: 566px;
}

.stories-item-description {
    max-width: 353px;
    position: relative;
    left: 18px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

footer {    
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: #212A2F;
    height: 956px;
    overflow: hidden;
}

.footer__signup.signup {
    position: relative;
    top: 72px;
    right: 444px;
}


.signup__title{
    font-size: 14px;
    line-height: 19.04px;
    letter-spacing: 0.5px;
    color: white;
    margin-bottom: 6px;
}
.signup__form {
    display: flex;

}

.signup__input {
    width: 302px;
    height: 48px;
    margin-right: 12px;
    color: white;
    border-bottom: 2px solid white;
    background-color: #4D5559;
    transition: all 0.2s ease;
}

.signup__input:focus{
    outline: none;
    border: 2px solid white;
}

.signup__button {
    width: 130px;
    height: 48px;
    background-color: #4D5559;
    color: white;
}
.information{
    display: flex;
    position: relative;
    top: 144px;
    right: 167px;
    height: 319px;
}

.information div{
    width: 333px;
    height: 319px;
    color: white;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
}

.contacts__heading{
    margin-bottom: 18px;
}

.contacts__item{
    margin-bottom: 16px;
}
.contacts__link{
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.shop__heading{
    margin-bottom: 18px;
}

.shop__item{
    margin-bottom: 16px;
}

.shop__link{
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.company__heading{
    margin-bottom: 18px;
}

.company__item{
    margin-bottom: 16px;
}

.company__link{
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.social-and-countries {
    display: flex;
    position: relative;
    top: 297px;
    right: 65px;
}

.follow-the-flock {
    width: 333px;
    height: 131.69px;
    margin-right: 128px;
}
.follow-the-flock__heading {
    color: white;
    margin-bottom: 21px;
}

.follow-the-flock__description {
    color: white;
    width: 293px;
    height: 54px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.countries{
    display: flex;
    align-items: flex-start;
}

.countries__flag {
    margin-right: 24px;
    overflow: hidden;
}


.socials{
    display: flex;
}

.socials__item{
    margin-right: 18px;
}
.certified-corporation {
    margin-right: 127px;
}
.footer__copyright {
    position: relative;
    top: 386.69px;
    color: white;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.arrow-button{
    position: absolute;
    top: 201px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    width: 48px;
    height: 48px;
    border: 1px solid rgb(177, 172, 172);
    background: url('../img/arrow.svg') 50%/ cover no-repeat;
    background-color: white;
}


.slider__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 221px;
    width: 550px;
}

.slider__underline{
    position: relative;
    right: 212px;
    border-top: 2px solid black;
    width: 123px;
    
}